body {
  // font-family: url(jackeyfont.tres);
  //   font-size: 64; // Doesn't work?
}

Button,
Button:hover,
Button:pressed,
Button:focused,
Button:disabled {
  color: #999;
  background: none;
  border-width: 0;
}

Button:hover {
  color: Color(1.5, 1.5, 1.5, 1);
}

VBoxContainer {
  gap: 20;
}
